.board {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
}

.square.dark {
   background-color: rgba(99, 33, 5, 0.765); 
  }
.square.light { background-color: lightgray; }
.square.yellow { background-color: yellow;}

.piece {
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

.piece.red { background-color: red; }
.piece.black { background-color: black; }