# Ignore Gradle project-specific cache directory
.gradle/
.vscode/
# Ignore Gradle build output directory
build/
bin/
*.class
*.log

node_modules/

# Expo/React Native cache
.expo/
.expo-shared/

# iOS/Android build artifacts
ios/build/
android/build/